.imageFigure{
    display: flex;
    flex-direction: column;
    min-width: 20%;
    height: 100%;
    align-items: center;
    justify-items: start;
}
.image{
    width: 100%;
    height: auto;
    z-index: 40;
    border-radius: 0 0 5% 5%;
    margin-left: 2px;
    margin-right: 2px;
}
.imageTitle{
    font-size: 1.5em;
    font-weight: bold;
}
.selected{
    border: 10px solid #f2f2f2;
    border-radius: 5%;
    z-index: 50;
    animation: imageAnimation 0.2s ease-in forwards;
}
@keyframes imageAnimation{
    0%{
        width: 100%;
    }
    50%{
        width: 105%;
    }
    100%{
        width: 110%;
    }
}